<div class="todo-component">
    <div class="todo-container">
        <h1 class="title"> TODO List</h1>
        <h2 class="sub-title">A place to store your todos</h2>
        <form class="filter-form">
            <!-- <label for="filter-input"></label> -->
            <input class="filter-input" id="filter-input" type="text" placeholder="Filter your to-dos" />
        </form>
        <ol class="todo-list">
            <li id="todo-items" *ngFor="let todo of todos">
                <div class="todo-div">
                    <button class="complete-button" *ngIf="!todo.completed">Complete</button>
                    <div class="todo-delete-div">
                        <p [ngClass]="{ completed: todo.completed }">{{ todo.task }}</p>
                        <button class="delete"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </li>
        </ol>
        <form class="add-form">
            <!-- <label for="add-input"></label> -->
            <input class="add-input" id="add-input" type="text" placeholder="Add your to-do" />
            <button class="add-button">Add</button>
        </form>
    </div>
</div>